<div class="container-fluid" style="margin-top:10%">
<div class="row well">
  <div class="row col-md-4">
    <div class="row">
      <label class="inning_label">Inning :</label>
      <label class="radio-inline label-default inning_label">
      <input type="radio" [value]="1"  [(ngModel)]="bowlingscore.inningId" [(ngModel)]="battingscore.inningId" name="innings" #inningId="ngModel">1st innings</label>
      <label class="radio-inline label-default inning_label">
      <input type="radio" [value]="2"  [(ngModel)]="bowlingscore.inningId" [(ngModel)]="battingscore.inningId" name="innings" #inningId="ngModel">2nd innings</label>
    </div>
    <div class="row">
      <label>Matches :</label>
      <select [(ngModel)]="matchId" class="form-control" style="width:250px">
        <option *ngFor="let match of allMatches;" [ngValue]="match.matchId">{{match.name}}</option>
      </select>
      <select [(ngModel)]="groundId" class="form-control" style="width:75px">
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
        <option value="4">D</option>
      </select>
      <button class="btn btn-sm btn-danger" style="margin:5px" (click)="loadMatch()" >Load Match</button>
    </div>
  </div>
  <div class="row col-md-2 batting_balling">
    <label>Batting :</label>
  	<input class="form-control" type="text" [value]="battingscore.teamName" readonly/>
  </div>

  <div class="row col-md-2 batting_balling">
    <label>Balling :</label>
  	<input class="form-control" type="text" [value]="bowlingscore.teamName" readonly/>
  </div>
  <div class="row col-md-2">
  	<label class="btn btn-basic total_wicket_val">Total :{{totalScoreWicketsStr}}</label>
  	<label class="btn btn-basic total_wicket_val">Overs :{{currentOvers}}</label>
  	<label class="btn btn-basic total_wicket_val">Extras :{{extras}}</label>
  </div>

  <div class="row col-md-2 batting_balling">
    <button class="btn btn-sm btn-primary" style="margin:5px" (click)="swapInnig()" >Change Inning</button>
    <button class="btn btn-sm btn-danger" style="margin:5px" (click)="stopInnig()" >Stop Inning</button>
    
    <label><input type="radio" name="winning_team" [value]="battingscore.teamId" [(ngModel)]="data.wonTeamId" #wonTeamId="ngModel"/>{{battingscore.teamName}}</label>
    <label><input type="radio" name="winning_team" [value]="bowlingscore.teamId" [(ngModel)]="data.wonTeamId" #wonTeamId="ngModel"/>{{bowlingscore.teamName}}</label>
    <button class="btn btn-sm btn-danger" style="margin:5px" (click)="stopMatch()" >Stop Match</button>
  </div>
</div>
<div class="row">
<div class="col-md-4">
		<div class="row score_div">
      <label>Score :</label><br>
      		<label class="radio-inline btn btn-default score_val"><input type="radio" name="runs" [value]="0"  [(ngModel)]="bowlingscore.runs" [(ngModel)]="battingscore.runs" #runs="ngModel">Score "0"</label>
			<label class="radio-inline btn btn-default score_val"><input type="radio" name="runs" [value]="1"  [(ngModel)]="bowlingscore.runs" [(ngModel)]="battingscore.runs" #runs="ngModel">Score "1"</label>
			<label class="radio-inline btn btn-default score_val"><input type="radio" name="runs" [value]="2"  [(ngModel)]="bowlingscore.runs" [(ngModel)]="battingscore.runs" #runs="ngModel">Score "2"</label>
			<label class="radio-inline btn btn-default score_val"><input type="radio" name="runs" [value]="3"  [(ngModel)]="bowlingscore.runs" [(ngModel)]="battingscore.runs" #runs="ngModel">Score "3"</label>
			<label class="radio-inline btn btn-default score_val"><input type="radio" name="runs" [value]="4"  [(ngModel)]="bowlingscore.runs" [(ngModel)]="battingscore.runs" #runs="ngModel">Score "4"</label>
			<label class="radio-inline btn btn-default score_val"><input type="radio" name="runs" [value]="5"  [(ngModel)]="bowlingscore.runs" [(ngModel)]="battingscore.runs" #runs="ngModel">Score "5"</label>
			<label class="radio-inline btn btn-default score_val"><input type="radio" name="runs" [value]="6"  [(ngModel)]="bowlingscore.runs" [(ngModel)]="battingscore.runs" #runs="ngModel">Score "6"</label>
		</div>
		<div class="row score_div">
			<label>No/Wide/Wicket :</label><br>
      <label class="radio-inline btn btn-default score_val"><input type="radio" name="ball_type" value="valid"  [(ngModel)]="data.ball_type" #ball_type="ngModel" >Valid</label>
			<label class="radio-inline btn btn-default score_val"><input type="radio" name="ball_type" value="no_ball"  [(ngModel)]="data.ball_type" #ball_type="ngModel">No Ball</label>
			<label class="radio-inline btn btn-default score_val"><input type="radio" name="ball_type" value="wide"  [(ngModel)]="data.ball_type" #ball_type="ngModel">Wide</label>
		</div>
    <div class="row score_div">
      <label>No/Wide/Wicket :</label><br>

        <label class="radio-inline btn btn-default score_val"><input class="form=-control" type="checkbox" [(ngModel)]="data.bye" name="bye">Bye</label>

        <label class="radio-inline btn btn-default score_val"><input class="form=-control" [value]="1" type="checkbox" [(ngModel)]="data.run_out" name="run_out">Run Out</label>

        <label class="radio-inline btn btn-default score_val"><input class="form=-control" [value]="1" type="checkbox" [(ngModel)]="data.wicket" name="wicket">Wicket</label>

    </div>
    <div class="row score_div">
			<button class="btn btn-lg btn-primary btn-block btn-signin" (click)="updateBallByball()" >Update</button>
		</div>
	</div>
	<div class="col-md-8">
		<div class="row">
      <label>Batting Team</label>
			<table class="table table-bordered">
			<tr>
					<th>Player</th>
					<th>Score</th>
					<th>Total</th>
				</tr>
				<tr *ngFor="let batsmen of players[0];">
					<td class="table_player_column">
            <label><input type="radio" name="batting" [value]="batsmen.playerId" [(ngModel)]="battingscore.playerId" #playerId="ngModel">{{batsmen.name}}</label>
          </td>
					<td class="table_score_column" >{{batsmen.score}}</td>
					<td><label>{{batsmen.total}}</label></td>
				</tr>
			</table>
		</div>
		<div class="row">
      <label>Balling Team</label>
			<table class="table table-bordered">
				<tr>
					<th>Bowler</th>
					<th>Runs</th>
					<th>Wickets</th>
					<th>No Balls</th>
					<th>Wide Balls</th>
				</tr>
				<tr *ngFor="let ballers of players[1];">
					<td class="table_player_column">
            <label><input type="radio" name="bowling" [value]="ballers.playerId" [(ngModel)]="bowlingscore.bowlerId" #bowlerId="ngModel">{{ballers.name}}</label>
          </td>
					<td>{{ballers.bowlerResult.totalRuns}}</td>
					<td>{{ballers.bowlerResult.wickets}}</td>
					<td>{{ballers.bowlerResult.noBalls}}</td>
					<td>{{ballers.bowlerResult.wides}}</td>
				</tr>
			</table>
		</div>
	</div>

</div>
</div>
