<div class="col-md-2"></div>

<div class="col-md-8">
    <form class="form-horizontal">
      <h2>Team Registration</h2>
      <div class="form-group">
        <label class="control-label col-sm-2" for="teamName">Company Name:</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="companyName" placeholder="Enter companyName" name="companyName">
        </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2" for="teamName">Team Name:</label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="teamName" placeholder="Enter teamName" name="teamName">
          </div>
      </div>

      <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Add Team</button>
          </div>
      </div>
      
      <h2>Players</h2>
      
      <div class="form-group"> 
        <label class="control-label col-sm-3" for="player1">Select the Company:</label>
        <select>
          <option value="volvo">Team 1</option>
          <option value="saab"> Team 2</option>
          <option value="opel"> Team 3</option>
          <option value="audi">Team 4</option>
      </select></div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="player1">Player 1:</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" id="player1" placeholder="Enter player1" name="player1">
        </div>
      </div>
      
      <div class="form-group">
          <label class="control-label col-sm-2" for="player2">Player 2:</label>
          <div class="col-sm-10">          
            <input type="text" class="form-control" id="player2" placeholder="Enter player2" name="player2">
          </div>
      </div>
      
      <div class="form-group">
          <label class="control-label col-sm-2" for="player3">Player 3:</label>
          <div class="col-sm-10">          
            <input type="text" class="form-control" id="player3" placeholder="Enter player3" name="player3">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2" for="player4">Player 4:</label>
          <div class="col-sm-10">          
            <input type="text" class="form-control" id="player4" placeholder="Enter player4" name="player4">
          </div>
      </div>
      
      <div class="form-group">
          <label class="control-label col-sm-2" for="player5">Player 5:</label>
          <div class="col-sm-10">          
            <input type="text" class="form-control" id="player5" placeholder="Enter player5" name="player5">
          </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2" for="player5">Player 6:</label>
          <div class="col-sm-10">          
            <input type="text" class="form-control" id="player5" placeholder="Enter player6" name="player5">
          </div>
      </div>
      
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
</div>

<div class="col-md-2"></div>