<nav class="navbar .navbar-custom navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background-color: gainsboro">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" alt="" width="120px"></a>
    </div>
    <div class="hidden-lg">
    <br >
      <br>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">HOME</a></li>
      <li><a href="#live">LIVE</a></li>
      <li><a href="#">TEAMS</a></li>
      <li><a href="#">ABOUT</a></li>
    </ul>
    </div>
  </div>
</nav>
