<div  style="background: url('../../assets/img/background.png') center center fixed;padding-top: 100px;">
<div class="container">
  <div class="row">
    <div class="col-lg-3  hidden-xs  hidden-sm  hidden-md">
      <img  src="../../assets/img/crickter.png" alt="" width="250px" style="float:left" class="pull-left img-responsive">
    </div>
    <div class="col-lg-6">
      <br>
      <h2><span style="color: #df2d4b; font-weight: bold;font-family: 'Fjalla One', sans-serif;">LIVE </span> <span style="color: #5e5e5e;font-weight: bold;font-family: 'Fjalla One', sans-serif;">MATCHES</span></h2>
      <hr style="height:1px;border:none;color:#df2d4b;background-color:#df2d4b;"  >
      <div class="row">
        
        <div class="col-lg-6" *ngIf="groundA">
          <div style="margin: 5px">
            <div style="border: solid 1px #df2d4b">
              <h4 style="text-align: center;background-color: #df2d4b;padding: 15px;color: white"  > {{groundAName}}</h4>
              <p style="text-align: center"> {{groundABattingName}} </p>
              <p style="text-align: center;font-size: 1.4em;font-weight: bold"> {{groundAscore}}/{{groundAwickets}}</p>
              <p style="text-align: center"> {{groundAovers}} overs || <span *ngIf="groundATarget">Target </span>{{groundATarget}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6" *ngIf="!groundA">
          <div style="margin: 5px">
            <div style="border: solid 1px #df2d4b">
              <h4 style="text-align: center;background-color: #df2d4b;padding: 15px;color: white">--</h4>
              <p style="text-align: center;font-size: 1.4em;font-weight: bold">GROUND A</p>
              <p style="text-align: center;font-size: 1.4em;font-weight: bold">NO MATCHES YET</p>
              <p style="text-align: center;font-size: 0.8em">_____</p>
            </div>
          </div>
        </div>


        <div class="col-lg-6" *ngIf="groundB">
          <div style="margin: 5px">
            <div style="border: solid 1px #df2d4b">
              <h4 style="text-align: center;background-color: #df2d4b;padding: 15px;color: white"  > {{groundBName}}</h4>
              <p style="text-align: center"> {{groundBBattingName}} </p>
              <p style="text-align: center;font-size: 1.4em;font-weight: bold"> {{groundBscore}}/{{groundBwickets}}</p>
              <p style="text-align: center"> {{groundBovers}} overs || <span *ngIf="groundBTarget">Target </span>{{groundBsTarget}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6" *ngIf="!groundB">
            <div style="margin: 5px">
              <div style="border: solid 1px #df2d4b">
                <h4 style="text-align: center;background-color: #df2d4b;padding: 15px;color: white">--</h4>
                <p style="text-align: center"></p>
                <p style="text-align: center;font-size: 1.4em;font-weight: bold">GROUND B</p>
                <p style="text-align: center;font-size: 1.4em;font-weight: bold">NO MATCHES YET</p>
                <p style="text-align: center;font-size: 0.8em">_____</p>
              </div>
            </div>
          </div>


        <div class="col-lg-6" *ngIf="groundC">
          <div style="margin: 5px">
            <div style="border: solid 1px #df2d4b">
              <h4 style="text-align: center;background-color: #df2d4b;padding: 15px;color: white"  > {{groundCMatchName}}</h4>
              <p style="text-align: center"> {{groundCBattingName}} </p>
              <p style="text-align: center;font-size: 1.4em;font-weight: bold"> {{groundCscore}}/{{groundCwickets}}</p>
              <p style="text-align: center"> {{groundCovers}} overs || <span *ngIf="groundCTarget">Target </span>{{groundCTarget}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6" *ngIf="!groundC">
            <div style="margin: 5px">
              <div style="border: solid 1px #df2d4b">
                <h4 style="text-align: center;background-color: #df2d4b;padding: 15px;color: white">--</h4>
                <p style="text-align: center"></p>
                <p style="text-align: center;font-size: 1.4em;font-weight: bold">GROUND C</p>
                <p style="text-align: center;font-size: 1.4em;font-weight: bold">NO MATCHES YET</p>
                <p style="text-align: center;font-size: 0.8em">_____</p>
              </div>
            </div>
          </div>

        <div class="col-lg-6" *ngIf="groundD">
          <div style="margin: 5px">
            <div style="border: solid 1px #df2d4b">
              <h4 style="text-align: center;background-color: #df2d4b;padding: 15px;color: white"  > {{groundAMatchName}}</h4>
              <p style="text-align: center"> {{groundDBattingName}} </p>
              <p style="text-align: center;font-size: 1.4em;font-weight: bold"> {{groundDscore}}/{{groundDwickets}}</p>
              <p style="text-align: center"> {{groundDovers}} overs || <span *ngIf="groundDTarget">Target </span>{{groundDTarget}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6" *ngIf="!groundD">
            <div style="margin: 5px">
              <div style="border: solid 1px #df2d4b">
                <h4 style="text-align: center;background-color: #df2d4b;padding: 15px;color: white">--</h4>
                <p style="text-align: center"></p>
                <p style="text-align: center;font-size: 1.4em;font-weight: bold">GROUND D</p>
                <p style="text-align: center;font-size: 1.4em;font-weight: bold">NO MATCHES YET</p>
                <p style="text-align: center;font-size: 0.8em">_____</p>
              </div>
            </div>
          </div>


      </div>
    <ul>
      <li> </li>
    </ul>
    </div>
    <div class="col-lg-3  hidden-xs  hidden-sm  hidden-md">
      <img  src="../../assets/img/4.png" alt="" class="pull-right img-responsive" width="250px" style="float:left">
    </div>
  </div>
</div>
</div>
  <hr>
  <div class="container" style="text-align: center">
    <h2><span style="color: #df2d4b; font-weight: bold;font-family: 'Fjalla One', sans-serif;">PAST </span> <span style="color: #5e5e5e;font-weight: bold;font-family: 'Fjalla One', sans-serif;">MATCHES</span></h2>
    <hr style="height:1px;border:none;color:#df2d4b;background-color:#df2d4b; width: 30%"  >
    <table class="table table-bordered mytable table-striped" style="width:80%; margin: auto" >
      <tbody>
      <tr style="padding: 5px" *ngFor="let rec of recent;let i=index">
        <td *ngIf="i<6">{{rec.team1Name}}</td>
        <td *ngIf="i<6">{{rec.winTeam}} Won the Match</td>
        <td *ngIf="i<6">{{rec.team2Name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
<br>
<p style="text-align:center;color: #0068a5"> more details ..</p>
<br>
<hr>
<br>
<div class="container-fluid" style="background-color: #E7E7E7" id="live">
  <div class="container">
    <br>
<h2 style="text-align: center"><span style="color: #df2d4b; font-weight: bold;font-family: 'Fjalla One', sans-serif;">LIVE</span> <span style="color: #5e5e5e;font-weight: bold;font-family: 'Fjalla One', sans-serif;">STREAM</span></h2>
<hr style="height:1px;border:none;color:#df2d4b;background-color:#df2d4b; width: 30%"  >
    <div class="center-block">
      <img  src="../../assets/img/live.png" alt="" width="600px"  class="center-block img-responsive">
    </div>
    <br><br>
</div></div>
<hr>
<div id="footer">
    <p class="footer-block" style="text-align: center">All Right Reserved © FIT SIXES CRICKET FIESTA 2017 </p>
</div>